<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumarsidhanta13.successmantraadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuccessMantraAdminLight"
        android:screenOrientation="portrait"
        >
        <activity android:name=".EditAttitudeQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditDailyMotivationQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditFriendshipQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditLifeQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditMoneyQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditPositiveQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".PositiveQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".MoneyQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".LifeQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".FriendshipQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".DialyMotivationQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".AttitudeQuotes"         android:screenOrientation="portrait"/>
        <activity android:name=".EditSuccessQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".SuccessQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditLoveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoveQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditGreatPersonQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".GreatPersonQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditBussinessActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditVideoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BusinessQuotes"
            android:screenOrientation="portrait"/>
        <activity android:name=".VideoMotivational"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>