<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumarsidhanta13.successmantraadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuccessMantraAdminLight"
        android:screenOrientation="portrait"
        >
        <activity android:name=".EditAttitudeQuotes" />
        <activity android:name=".EditDailyMotivationQuotes" />
        <activity android:name=".EditFriendshipQuotes" />
        <activity android:name=".EditLifeQuotes" />
        <activity android:name=".EditMoneyQuotes" />
        <activity android:name=".EditPositiveQuotes" />
        <activity android:name=".PositiveQuotes" />
        <activity android:name=".MoneyQuotes" />
        <activity android:name=".LifeQuotes" />
        <activity android:name=".FriendshipQuotes" />
        <activity android:name=".DialyMotivationQuotes" />
        <activity android:name=".AttitudeQuotes" />
        <activity android:name=".EditSuccessQuotes" />
        <activity android:name=".SuccessQuotes" />
        <activity android:name=".EditLoveActivity" />
        <activity android:name=".LoveQuotes" />
        <activity android:name=".EditGreatPersonQuotes" />
        <activity android:name=".GreatPersonQuotes" />
        <activity android:name=".EditBussinessActivity" />
        <activity android:name=".EditVideoActivity" />
        <activity android:name=".BusinessQuotes" />
        <activity android:name=".VideoMotivational" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>